[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
requests = "*"
"beautifulsoup4" = "*"
"h5py" = "*"
Pint = "*"
transforms3d = "*"
mendeleev = "*"

[dev-packages]
"flake8" = "*"
"flake8-quotes" = "*"
"autopep8" = "*"
"make-release" = {ref = "release-v0.4.2", git = "ssh://git@git.pierrebeaujean.net/pierre/make-release.git"}
Sphinx = "*"
qcip-tools = {editable = true, path = "."}

[requires]
python_version = "3.6"
